
<div id="chat-room">
    <div id="chat-top">
        <div id="online-window">
            <div id="online-window-name">Online users</div>
            <div id="online-window-users" ></div>
        </div>
        <!-- data-simplebar -->
        <div id="message-window" data-simplebar>
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
    </div>
    <div id="chat-bottom">
        <div id="btn-tray">
            <a id="btn-log-off" class="links" href="/logoff">Log off</a>
            <div id="btn-themes">
                <img src="/img/brushBL.png" alt="Theme" id="brush-img">
                <div id="btn-themes-bright"></div>
                <div id="btn-themes-blue"></div>
                <div id="btn-themes-dark"></div>
            </div>
        </div>
        <div id="type-send-tray">
            <div id="btn-send">Send</div>
            <textarea id="message-input-field" type="text" placeholder="Message" maxlength="600"></textarea>
        </div>
    </div>

</div>