
<form id='formLog' action="" method="GET" style="display: none;">

    <input id="nicknameLog" type="text" name='nickname' class="form-fields" placeholder="Nickname" required>

    <input id="password" type="password" name="password" class="form-fields" placeholder="Password" required>
    <button id='logIn' class="btn-submit" type="submit">Done</button>
    <p id="warningLog" class="warning"></p>
</form>