
<form id='formReg'  action="" method="POST" style="display: none;">
    <input id="nicknameReg"  class="input-boxes form-fields" type="text" name='nickname' maxlength="20" placeholder="Nickname" required>
    <input id="password1" class="input-boxes form-fields" type="password" name="password1" placeholder="Password" required>
    <input id="password2" class="input-boxes form-fields" type="password" name="password2" placeholder="Repeat password" required>
    <button id='register' class="btn-submit" type="submit">Done</button>
    <p id="warning" class="warning"></p>
</form>